<div class="header-image">
<!--  space for text-->
</div>
<mat-toolbar class="navbar">
  <div>
    <span class="nav-item" [routerLink]="'/welcome'">Symbaroum</span>
  </div>
  <div>
    <span class="nav-item" [routerLink]="'/admin'" [routerLinkActive]="'active'">Admin</span>
    <span class="nav-item" [routerLink]="'/game-master'" [routerLinkActive]="'active'">Game Master</span>
    <span class="nav-item" [routerLink]="'/player'" [routerLinkActive]="'active'">Player</span>
  </div>
  <div>
    <mat-icon>person</mat-icon>
  </div>
</mat-toolbar>
