@use "src/colors";

.header-image {
  background-image: url("src/assets/img/header.png");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar {
  justify-content: space-between;
}

.nav-item {
  cursor: pointer;
  padding-right: 1rem;

  &.active {
    color: colors.$yellow;
  }
}
