$sym-brown: (
  50: #f0e9e7,
  100: #dbc7c3,
  200: #c3a29c,
  300: #aa7c74,
  400: #986056,
  500: #864438,
  600: #7e3e32,
  700: #73352b,
  800: #692d24,
  900: #561f17,
  A100: #ff9d92,
  A200: #ff705f,
  A400: #ff422c,
  A700: #ff2b13,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$sym-background: (
  50: #fdfcfb,
  100: #fbf9f5,
  200: #f8f5ee,
  300: #f5f0e7,
  400: #f3ede1,
  500: #f1eadc,
  600: #efe7d8,
  700: #ede4d3,
  800: #ebe1ce,
  900: #e7dbc5,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$sym-yellow: (
  50: #fcf8eb,
  100: #f7eccc,
  200: #f2e0aa,
  300: #edd488,
  400: #e9ca6f,
  500: #e5c155,
  600: #e2bb4e,
  700: #deb344,
  800: #daab3b,
  900: #d39e2a,
  A100: #ffffff,
  A200: #fff5e0,
  A400: #ffe4ad,
  A700: #ffdb93,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$sym-black: (
  50: #e5e4e4,
  100: #bdbcbc,
  200: #918f90,
  300: #656263,
  400: #444141,
  500: #231f20,
  600: #1f1b1c,
  700: #1a1718,
  800: #151213,
  900: #0c0a0b,
  A100: #ff52ff,
  A200: #ff1fff,
  A400: #eb00eb,
  A700: #d200d2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
