<mat-sidenav-container class="container">

  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list disableRipple>
      <a [routerLink]="'/admin/races'">
        <mat-list-item>
          Races
        </mat-list-item>
      </a>
      <a [routerLink]="'/admin/traits'">
        <mat-list-item>
          Traits
        </mat-list-item>
      </a>
      <a [routerLink]="'/admin/boons-burdens'">
        <mat-list-item>
          Boons & Burdens
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <h3 matSubheader>Abilities & Mystical Powers</h3>
      <div class="sub-section">
        <a [routerLink]="'/admin/abilities'">
          <mat-list-item>
            Abilities
          </mat-list-item>
        </a>
        <a [routerLink]="'/admin/mystical-traditions'">
          <mat-list-item>
            Mystical Traditions
          </mat-list-item>
        </a>
        <a [routerLink]="'/admin/mystical-powers'">
          <mat-list-item>
            Mystical Powers
          </mat-list-item>
        </a>
        <a [routerLink]="'/admin/rituals'">
          <mat-list-item>
            Rituals
          </mat-list-item>
        </a>
      </div>
      <mat-divider></mat-divider>
      <a [routerLink]="'/admin/equipment'">
        <mat-list-item>
        Equipment
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
