.container {
  height: 100%;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.sub-section {
  padding-left: 20px;
}

.content {
  padding: 20px;
}

