@use "src/styles/colors";
@import "styles/symbaroum-theme";

/* You can add global styles to this file, and also import other style files */

// Original Commercial Fonts
//Ecstasy                 // <-- titles, lettered, (50€ for web licence, get images from preview for now)
//Skolar Latin            // <-- symbaroum main text
//Skolar Latin Semibold   // <-- Ability Headers
//Benton Sans             // <-- Ability Level Descriptions
//Bluebeard               // <-- Some smaller headers
//Mikadan                 // <-- Chapter Page Title

// Free Replacement Fonts:
//PT Serif          // <-- symbaroum main text
//Manuale SemiBold  // <-- Ability Headers
//News Cycle        // <-- Ability Level Descriptions (letter spacing tweaking)

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.sym-ability-header {
  font: 600 24px/28px "Manuale";
  color: colors.$brown;
  text-transform: uppercase;
  margin-bottom: 0;
}

.sym-ability-description {
  text-align: justify;
  hyphens: auto;
  p {
    text-indent: 1.4em;
    margin-top: 0;
    margin-bottom: 0;

    &:first-of-type {
      text-indent: 0;
    }
  }
}

.sym-ability-level {
  font: normal 16px/24px "News Cycle";
  letter-spacing: 0.01em;

  .sym-bold {
    font-weight: 600;
    letter-spacing: 0.03em;
  }

  p {
    text-indent: 1.4em;
    margin-top: 0;
    margin-bottom: 0;

    &:first-of-type {
      text-indent: 0;
    }
  }

  i {
    white-space: nowrap;
  }
}
