@import "styles/symbaroum-theme";

/* You can add global styles to this file, and also import other style files */

//Ecstasy                                 // <-- titles, lettered, (50€ for web licence, get images from preview for now)
//font-family: 'News Cycle', sans-serif;  // <-- symbaroum main text (needs to be tweaked)
//Adamant-bg                              // <-- symbaroum table headers and brown text (from download, provide in assets)

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
